# Directories
/.git export-ignore
/.github export-ignore
/.wordpress-org export-ignore

# Files
/.gitattributes export-ignore
/CHANGELOG.md export-ignore
/LICENSE export-ignore
/README.md export-ignore
